:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --hero-text-color: #FFFFFF;
    --footer-text-color: #E7E9FC;
    --active-text-color: #4D5AE5;
    --fon-section-color: #2E2F42;
    --white-fon-color: #FFFFFF;
    --team-fon-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --fon-white--: #E5E5E5;
    --active-accent-color: #404BBF;
}


body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-size: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

/*---------------------Cap---------------------*/
.cap {
    background-color: var(--white-fon-color);
}

/*--------Logo company-------*/
.cap-logo {
    color: var(--active-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
}

a span {
    color: var(--title-text-color);
}

/*--------Site nav--------*/
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--active-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/*--------Contacts--------*/
.contacts {
    font-style: normal;
}

.auth-contacts .link {
    color: var(--primary-text-color);
    line-height: 1.5;
    text-decoration: none;
}

.auth-contacts .link:hover,
.auth-contacts .link:focus {
    color: var(--active-text-color);
}

/*---------------------Main index.html---------------------*/


/*--------Hiro--------*/

.hero {
    background-color: var(--fon-section-color);
}

.hero-title {
    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02;
    text-align: center;
}

.hero-aktive-button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-aktive-button:hover,
.hero-aktive-button:focus {
    background-color: var(--active-accent-color);
}


/*--------Company slogans--------*/
/*--------Activiti--------*/
/*--------Team--------*/
.team {
    background-color: var(--team-fon-color);
}

.activiti-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}


.slogans-list .title,
.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text {
    line-height: 1.5;
}








/* ------------------------Portfolio.html------------------------ */

/* --Menu filter-- */

.menu-filter-services {}

.menu-list {}

.filter-button {
    font-family: inherit;
    background-color: var(--team-fon-color);
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;


}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-fon-color);
    background-color: var(--accent-color);

}


/* --Menu-- */



.menu-list {}

.menu-title {}

.title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

a.text {
    text-decoration: none;
    color: currentColor
}

/*---------------------Footer---------------------*/

.basement {
    background-color: var(--fon-section-color);
}

.basement-logo {
    font-family: Raleway;
    color: var(--active-text-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.span-logo {
    color: var(--team-fon-color);
}

.basement-text {
    color: var(--footer-text-color);
    line-height: 1.5;
}















/* основний колір текста #434455; */
/* вторинний колір тексту #2E2F42; */
/* колір тексту section Hero #FFFFFF; */
/* колір тексту Footer #E7E9FC;  */
/* колір лого #4D5AE5; #F4F4FD; */
/* акцент #4D5AE5; */
/* колір фона Cap #FFFFFF; ; */
/* колір фона section Hero & Footer #2E2F42; */
/* колір фона white #E5E5E5; */
/* колір фона section Team #F4F4FD; */